@charset "utf-8";

// Variables
$doc_wid: auto;					// 가로 사이즈










$mq_tablet:		'max-width: 1024px';				// 1440px 이하	( Tablet )
$mq_mobile:		'max-width: 767px';				    // 768px 이하	( Tablet )
