@charset "utf-8";

.ui_treemap {
	margin: 0 -1px -1px 0;

	.treemap-node {
		$nodeColor: #333333;

		box-sizing: border-box;
		@include transition();

		&:hover {
			background: $point_color !important;
			@include transition();
		}

		.infos {
			display: block;
			color: #ffffff;
			text-align: center;

			.title {
				display: block;
				padding: 0 0 15px 0;
				color: #ffffff;
				font-size: 1.667em;
				line-height: 1;
			}

			.datas {
				color: #ffffff;
				font-size: 0.917em;

				.dv {
					@include inlineBlock();
					line-height: 1.1em;
				}

				.fluc {
					@include inlineBlock();
					color: #ffffff;
					line-height: 1.1em;
				}
			}

			.per {
				display: block;
				padding: 5px 0 0 0;
				color: #ffffff;
				text-align: center;
				line-height: 1;
			}
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			@include backgroundAlpha(#000000, 0);
			@include transition();
		}

		&.full.hide {
			.infos {
				display: none;
			}
		}
		&.hide {
			.infos {
				.title {
					padding: 0;
					font-size: 0.917em;
				}
				> *:not(.title) {
					display: none;
				}
			}
		}

		&.active {
			.overlay {
				border: 3px solid #de242b;
			}
		}

		@for $Loop1 from 1 through 10 {
			$bg_alpha: ( $Loop1 * 6 ) - 6;
			&.share_#{$Loop1} {
				background: lighten( $nodeColor, $bg_alpha );
			}
		}
	}

	.treemap_bubble_wrap {
		display: block;
		float: left;
		height: 0;
		zoom: 1;
		pointer-events: none;

		.ui_bubble_box {
			.wrap {
				padding: 15px 30px;

				.title {
					display: block;
					padding: 0 0 15px 0;
					font-size: 1.667em;
					line-height: 1;
					white-space: nowrap;
				}

				.datas {
					font-size: 0.917em;

					.dv {
						@include inlineBlock();
						line-height: 1.1em;
					}

					.fluc {
						@include inlineBlock();
						line-height: 1.1em;
					}
				}

				.per {
					display: block;
					padding: 5px 0 0 0;
					text-align: center;
					line-height: 1;
				}
			}
		}
	}
}