@charset "utf-8";


// 로케이션
.ui_location {
    padding: 0 0 18px 0;
    box-sizing: border-box;
    line-height: 20px;
    @include transition( 0.2 );

    > .wrap {
        position: relative;
        overflow: hidden;
        @include transition( 0.2 );

        > .inner_wrap {
            position: relative;
            padding: 0 0 0 30px;
            box-sizing: border-box;
            @include clearBoth();

            &:before {
                content: '\e015';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #C2C2C2;
                font-family: 'icomoon';
                color: #ffffff;
                font-size: 12px;
                text-align: center;
                line-height: 20px;
            }
    
            .item {
                float: left;
                position: relative;
                padding: 0 10px 0 0;
        
                &:not(:first-child) {
                    padding: 0 10px 0 18px;
        
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin: -5px 0 0 0;
                        @include triangle( 'right', #D9D9D9, 8px, 10px );
                    }
                }
            }
        }
    }
}
